<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item">
                  Home
                </a>
          
                <a class="navbar-item">
                  Find Recipes
                </a>

                <a class="navbar-item">
                    Your Saved Recipes
                  </a>

                  <a class="navbar-item">
                    Add a Recipe
                  </a>
          
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    More
                  </a>
          
                  <div class="navbar-dropdown">
                    <a class="navbar-item">
                      About
                    </a>
                    <a class="navbar-item">
                      Jobs
                    </a>
                    <a class="navbar-item">
                      Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                      Report an issue
                    </a>
                  </div>
                </div>
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-primary">
                      <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                      Log in
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
    <title>Cooking Crafty!</title>
</head>
<body>
    <div class="mt-6 box is-flex-direction-row">
        <h1 class="is-size-1 is-flex is-justify-content-center">Welcome to Cooking Crafty! </h1>
        <h1 class="is-size-1 is-flex is-justify-content-center">Here are this week's Featured Recipes! </h1>
    </div>
    <section class=" mt-6 is-flex is-flex-direction-row">
        <h1 class=" box is-size-3 is-flex mr-3">Placeholder for images</h1>
        <div class = "box is-flex-direction-row">
            <h1 class="is-size-2 is-flex is-justify-content-center">Apple Apricot Pie!!</h1>
            <h2 class = "is-flex is-justify-content-center">Ingredients: Apple, apricot, pie</h2>
            <h3>This pie is simply made. Simply take apples, apricots, and a pie and mix together!</h3>
            <button class="button is-small is-fullwidth">Click here to read more!</button>


        </div>

    </section>

    <section class=" mt-6 is-flex is-flex-direction-row">
        <h1 class=" box is-size-3 is-flex mr-3">Placeholder for images</h1>
        <div class = "box is-flex-direction-row">
            <h1 class="is-size-2 is-flex is-justify-content-center">Apple Apricot Pie!!</h1>
            <h2 class = "is-flex is-justify-content-center">Ingredients: Apple, apricot, pie</h2>
            <h3>This pie is simply made. Simply take apples, apricots, and a pie and mix together!</h3>
            <button class="button is-small is-fullwidth">Click here to read more!</button>


        </div>

    </section>

    <section class=" mt-6 is-flex is-flex-direction-row">
        <h1 class=" box is-size-3 is-flex mr-3">Placeholder for images</h1>
        <div class = "box is-flex-direction-row">
            <h1 class="is-size-2 is-flex is-justify-content-center">Apple Apricot Pie!!</h1>
            <h2 class = "is-flex is-justify-content-center">Ingredients: Apple, apricot, pie</h2>
            <h3>This pie is simply made. Simply take apples, apricots, and a pie and mix together!</h3>
            <button class="button is-small is-fullwidth">Click here to read more!</button>


        </div>

    </section>

    <section class=" mt-6 is-flex is-flex-direction-row">
        <h1 class=" box is-size-3 is-flex mr-3">Placeholder for images</h1>
        <div class = "box is-flex-direction-row">
            <h1 class="is-size-2 is-flex is-justify-content-center">Apple Apricot Pie!!</h1>
            <h2 class = "is-flex is-justify-content-center">Ingredients: Apple, apricot, pie</h2>
            <h3>This pie is simply made. Simply take apples, apricots, and a pie and mix together!</h3>
            <button class="button is-small is-fullwidth">Click here to read more!</button>


        </div>

    </section>


</body>
</html>