<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooking Crafty!</title>
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/spacelab/bulmaswatch.min.css">

</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <strong>Cooking Crafty</strong>
      </a>
          
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
          
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/api/search">
          Find Recipes
        </a>

        <a class="navbar-item" href="/saved">
          Your Saved Recipes
        </a>

        <a class="navbar-item">
          Add a Recipe
        </a>

          </div>
        </div>
      </div>
          
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {{#if logged_in}}
            <button class="button is-primary" id="logout">Logout</button>
            {{else}}
            <a class="button is-primary" href="/login">
              <strong>Sign up</strong>
            </a>

            <a class="button is-light" href="/login">
              Log in
            </a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </nav>

  <main class="container container-fluid mt-5">
      {{{ body }}}
  </main>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <script src='index.js'></script>
</body>
</html>