<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/spacelab/bulmaswatch.min.css">
    
</head>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <strong>Cooking Crafty</strong>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
    <header>
  <section class="columns is-centered is-variable is-3 my-4">
    <div class="box">
        <h1 class="is-size-1 has-text-centered has-text-weight-bold">Welcome to Cooking Crafty! </h1>
        <h1 class="is-size-2 has-text-centered">Here are this week's Featured Recipes! </h1>
    </div>
</header>
<body>
</section>
    <section class="columns is-multiline is-flex is-flex-wrap-wrap">
      <div class="column is-half">
        <h1 class="box is-size-3 has-text-centered">Placeholder for images</h1>
    </div>
        <div class="column is-half box has-text-centered">
            <h1 class="is-size-2 has-text-centered">Apple Apricot Pie!!</h1>
            <h2 class="has-text-centered">Ingredients: Apple, apricot, pie</h2>
            <h3>This pie is simply made. Simply take apples, apricots, and a pie and mix together!</h3>
            <button class="button is-small is-fullwidth">Click here to read more!</button>
        </div>

        <div class="column is-half">
            <h1 class="box is-size-3 has-text-centered">Placeholder for images</h1>
        </div>
            <div class="column is-half box has-text-centered">
                <h1 class="is-size-2 has-text-centered">Apple Apricot Pie!!</h1>
                <h2 class="has-text-centered">Ingredients: Apple, apricot, pie</h2>
                <h3>This pie is simply made. Simply take apples, apricots, and a pie and mix together!</h3>
                <button class="button is-small is-fullwidth">Click here to read more!</button>
            </div>

            <div class="column is-half">
                <h1 class="box is-size-3 has-text-centered">Placeholder for images</h1>
            </div>
                <div class="column is-half box">
                    <h1 class="is-size-2 has-text-centered">Apple Apricot Pie!!</h1>
                    <h2 class="has-text-centered">Ingredients: Apple, apricot, pie</h2>
                    <h3>This pie is simply made. Simply take apples, apricots, and a pie and mix together!</h3>
                    <button class="button is-small is-fullwidth">Click here to read more!</button>
                </div>

</section>

   

</body>
</html>