<body>
  <section class='columns is-centered is-variable is-3'>
    <div class='box'>
      <h1 class='is-size-1 has-text-centered has-text-weight-bold'>Welcome to
        Cooking Crafty!
      </h1>
      <h1 class='is-size-2 has-text-centered'>Here are this week's Featured
        Recipes!
      </h1>
    </div>
  </section>
  <section class='columns is-multiline is-flex is-flex-wrap-wrap'>
{{#each recipes as |recipe|}}
    <div class='column is-half'>
      <img src="{{recipe.image}}" alt="image of {{recipe.name}}">
    </div>
    <div class='column is-half box has-text-centered'>
      <h1 class='is-size-2 has-text-centered'>{{recipe.name}}</h1>
      <a href='{{recipe.description}}'><button class='button is-small is-fullwidth'>Click here to read more!</button></a>
    </div>
{{/each}}
  </section>
</body>