<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">


<body class = "has-background-light">
    <section class="columns is-centered">
      <div class="mt-6 box column is-half ">
          <h1 class="is-size-1 is-flex is-justify-content-center">Your saved recipes! </h1>
      </div>
  </section>
      <section class="mt-6 columns is-centered is-flex ">
        <div class="box column is-one-quarter is-flex mr-4 ">
          <h1 class=" image is-128x128 is-flex"><img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=780&q=80"></h1>
          </div>
          <div class = "box column is-half is-flex-direction-row">
              <h1 class="is-size-2 is-flex is-justify-content-center">Apple Apricot Pie!!</h1>
              <h2 class = "is-flex is-justify-content-center">Ingredients: Apple, apricot, pie</h2>
              <h3>This pie is simply made. Simply take apples, apricots, and a pie and mix together!</h3>
              <button class="button is-small is-fullwidth">Click here to read more!</button>
          </div>
  
      </section>
  
      <section class="mt-6 columns is-centered is-flex is-flex-direction-row">
        
        <h1 class=" box is-size-3 is-flex mr-3">Placeholder for images</h1>
        <div class = "box is-flex-direction-row">
            <h1 class="is-size-2 is-flex is-justify-content-center">Apple Apricot Pie!!</h1>
            <h2 class = "is-flex is-justify-content-center">Ingredients: Apple, apricot, pie</h2>
            <h3>This pie is simply made. Simply take apples, apricots, and a pie and mix together!</h3>
            <button class="button is-small is-fullwidth">Click here to read more!</button>
        </div>
  
    </section>
  
    <section class="mt-6 columns is-centered is-flex is-flex-direction-row">
        
      <h1 class=" box is-size-3 is-flex mr-3">Placeholder for images</h1>
      <div class = "box is-flex-direction-row">
          <h1 class="is-size-2 is-flex is-justify-content-center">Apple Apricot Pie!!</h1>
          <h2 class = "is-flex is-justify-content-center">Ingredients: Apple, apricot, pie</h2>
          <h3>This pie is simply made. Simply take apples, apricots, and a pie and mix together!</h3>
          <button class="button is-small is-fullwidth">Click here to read more!</button>
      </div>
  
  </section>
  
  </body>
  </html>