<body class = "has-background-light">
    <section class="columns is-centered">
      <div class="mt-6 box column is-half ">
          <h1 class="is-size-1 is-flex is-justify-content-center">{{name}}'s saved recipes! </h1>
      </div>
  </section>
  {{#each recipes as |savedRecipe|}}
      <section class="mt-6 columns is-centered is-flex ">
        <div class="box column is-one-quarter is-flex mr-4 ">
          <h1 class=" image is-128x128 is-flex"><img src="{{savedRecipe.image}}"></h1>
          </div>
          <div class = "box column is-half is-flex-direction-row">
              <h1 class="is-size-2 is-flex is-justify-content-center">{{savedRecipe.name}}</h1>
              <button class="button is-small is-fullwidth" href="{{savedRecipe.description}}">Click here to read more!</button>
          </div>
      </section>
  {{/each}}
  
  </body>
  </html>